:root { 
--blue_gray_300:#9da4b1; 
--blue_A400:#2772f0; 
--gray_900:#1e1e1e; 
--indigo_A400:#4861ef; 
--gray_900_60:#1e1e1e60; 
--blue_gray_900_01:#091b3d; 
--blue_gray_900:#263238; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}